/* constant(safe-area-inset-top) */
/* constant(safe-area-inset-right) */
/* constant(safe-area-inset-bottom) */
/* constant(safe-area-inset-left) */

/* iphoneの切り欠きを避けるようにしてるやつ */
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 25vw;
    width: 100vw;

    background-color: rgba(60,60,60,1);
    color: white;
    padding-bottom: constant(safe-area-inset-bottom);
}

footer .contents {
    position: absolute;

    top: 0px;
    left: 0px;

    height: 50%;
    width: 100%;
}

footer .contents #form {
    display: flex;
    width: 100%;
    height: 100%;
}

footer .contents .button {
    font-size: 50px;
    line-height: 50px;

    width: 15%;
    height: 100%;

    margin: 0% 5%;
    padding: 4%;

    text-align: center;
}

footer .contents button {
    color: white;
}



footer,
footer .contents,
footer .contents #form,
footer .contents .button
{
    background-color: rgba(0,0,255,0.3);
}