body{
    background-color: rgba(70,70,70,1);
}

#main {
    position: absolute;
    top: 0px;
    left: 0px;

    padding-top: 25vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(70,70,70,1);
    color: white;
    /* background-color: red; */

    z-index: 0;
}

#main *{
    font-size: 30px;
}

/* マップのサイズ変更用の */
#gmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#gmap iframe,
#gmap object,
#gmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
