header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 28vw;
    width: 100vw;
background: #FFFFAF;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
z-index:10;

}

header h1{
    
    position:relative;
    top: 150px;
left: 70px;
width: 91px;
height: 26px;
text-align: left;
font-size: 60px;
letter-spacing: 0;
color: #686868;
opacity: 1;
}
header .basic{
    width:100%;
}
#toNavi{
    float:right;
    position:relative;
    right:50px;
    top:140px;
}
#toNavi img{
    width:70px;
}
.basicOnly dl{
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.basicOnly dd{
    font-size: 30px;
}
.drawer-menu{
    height:200vh;
    overflow-x:hidden;
}
.drawer-menu ul{
    float:left;
}
.drawer-menu li{
    font-weight: bold;
    font-size: 50px;
    line-height: 2.5em;
    width:150%;
    background: rgb(184, 184, 184);
}
.drawer-menu li:before{
    content:'●';
    padding:50px;
}
