footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 22vw;
    width: 100vw;

    background: #FFFFAF;
    color: white;
    padding-bottom: constant(safe-area-inset-bottom);

}
footer .basicOnly{
    position: absolute;

    top: 0px;
    left: 0px;

    height: 50%;
    width: 100%;
}
footer ul{
    display: flex;
    text-align: center;
}
footer img{
    width:45%;
    padding: 30px;
}
